# Chapter 3 - Exercise 4: Weather Data

#### Bộ dữ liệu Weather Data bao gồm thông tin về thời tiết của tất cả các ngày trong tháng 7 năm 2017
#### Bộ dữ liệu chứa trong thư mục data gồm các file dữ liệu:
- 1_TempHighF: Nhiệt độ cao nhất (độ F)
- 2_TempLowF: Nhiệt độ thấp nhất (độ F)
- 3_HumidityHighPercent: Độ ẩm cao nhất (%)
- 4_HumidityLowPercent: Độ ẩm thấp nhất (%)
- 5_VisibilityHighMiles: Tầm nhìn xa (miles)
- 6_VisibilityLowMiles: Tầm nhìn gần (miles)
- 7_WindMPH: Sức gió (miles per hour)
- 8_PrecipitationSumInches: Lượng mưa (inches)

### * Yêu cầu
<p><b>1. Đọc dữ liệu từ các tập tin trong thư mục "Weather Data" và tạo dataframe dfWeather với tên cột tương ứng (ví dụ tên file "1_TempHighF.txt" thì tên cột là "TempHighF")  
</b></p>
- Xem 5 dòng đầu tiên trong dfWeather  <br>
- Kiểm tra và chuyển đổi kiểu dữ liệu phù hợp

<p><b>2. Tạo dataframe dfWeather2 lần lượt với các cột sau đây:
'TempHighC', 'TempLowC', 'HumidityHighPercent', 'HumidityLowPercent', 'VisibilityHighKMs', 'VisibilityLowKMs', 'WindKMPH', 'PrecipitationSumMM'</b></p>  
<p>&nbsp; &nbsp;2.1  Chuyển đổi cột nhiệt độ cao nhất từ độ F sang độ C và lưu vào cột TempHighC trong dfWeather2 (làm tròn 2 số lẻ), hiển thị 5 giá trị đầu của TempHighC</p>
<ul>
    <li>công thức chuyển từ độ F sang C: C = (F − 32) × 5/9</li>
    <li>ví dụ chuyển từ 80F sang C: C = (80 - 32) x 5/9 = 26.67C</li>
</ul>    
<p>&nbsp; &nbsp;2.2 Chuyển đổi cột nhiệt độ thấp nhất từ độ F sang độ C và lưu vào cột TempLowC trong dfWeather2</p>
<p>&nbsp; &nbsp;2.3 Tính nhiệt độ trung bình TempMediumC trong dfWeather2</p>
<p>&nbsp; &nbsp;2.4 Tạo mới các cột độ ẩm HumidityHighPercent và HumidityLowPercent trong dfWeather2 bằng các cột HumidityHighPercent và HumidityLowPercent trong dfWeather</p>
<p>&nbsp; &nbsp;2.5 Chuyển đổi cột tầm nhìn xa từ miles sang kilomet và lưu vào cột VisibilityHighKMs trong dfWeather2</p>
<ul>
<li>công thức chuyển từ Mile sang Kilomet: km = mile * 1.609344</li>
    <li>ví dụ chuyển từ 10 mile sang km: km = 10 * 1.609344 = 16.09344 km</li>
</ul>    
<p>&nbsp; &nbsp;2.6 Chuyển đổi cột tầm nhìn gần từ miles sang kilomet và lưu vào cột VisibilityLowKMs trong dfWeather2</p>
<p>&nbsp; &nbsp;2.7 Chuyển đổi cột sức gió từ miles/hour (WindMPH) sang kilomets/hour và lưu vào cột WindKMPH trong dfWeather2</p>
<p>&nbsp; &nbsp;2.8 Chuyển đổi cột lượng mưa từ inches sang milimet và lưu vào cột PrecipitationSumMMs trong dfWeather2</p>
<ul>
    <li>công thức chuyển từ Inches sang Milimet: mm = inches * 25.4</li>
    <li>ví dụ chuyển từ 10 inches sang milimet: mm = 10 * 25.4 = 254 mm</li>

<p><b>3. Xem thông tin thời tiết của 5 ngày đầu tiên trong dfWeather2
<p><b>4. Từ dfWeather2, liệt kê thông tin thời tiết của các ngày có nhiệt độ trung bình cao nhất
<p><b>5. Từ dfWeather2, liệt kê thông tin thời tiết của các ngày có nhiệt độ trung bình thấp nhất
<p><b>6. Từ dfWeather2, liệt kê thông tin thời tiết của các ngày có mưa, sắp giảm theo lượng mưa
<p><b>7. Từ dfWeather2, liệt kê thông tin thời tiết của các ngày không có mưa và có độ ẩm trung bình cao nhất
<p><b>8. Tạo series temp_medium chứa hai giá trị trung bình cột TempMediumC của các ngày có mưa và các ngày không mưa trong tháng

In [1]:
import os
import pandas as pd
import re

#### 1. Đọc dữ liệu từ các tập tin và tạo dataframe dfWeather với tên cột tương ứng

In [2]:
# Lấy danh sách tên các tệp trong thư mục
lst_file = os.listdir('Weather Data')
lst_file

['1_TempHighF.txt',
 '2_TempLowF.txt',
 '3_HumidityHighPercent.txt',
 '4_HumidityLowPercent.txt',
 '5_VisibilityHighMiles.txt',
 '6_VisibilityLowMiles.txt',
 '7_WindMPH.txt',
 '8_PrecipitationSumInches.txt']

In [8]:
# Đọc từng tệp và tạo DataFrame từ nội dung của từng tệp
df = pd.DataFrame()
for file in lst_file:
    with open('Weather Data/'+file) as f:
        content = f.read()
    col = file.split('.')[0].split('_')[1]
    df[col] = content.split(',')
# Hiển thị 5 dòng đầu của DataFrame
df.head()

,TempHighF,TempLowF,HumidityHighPercent,HumidityLowPercent,VisibilityHighMiles,VisibilityLowMiles,WindMPH,PrecipitationSumInches
0,98,79,85,38,10,6,15,0.01
1,100,78,91,35,10,8,14,0
2,99,76,88,35,10,10,13,0
3,101,78,85,35,10,10,13,0
4,99,78,85,31,10,10,13,0

In [11]:
df.dtypes

TempHighF                   int64
TempLowF                    int64
HumidityHighPercent         int64
HumidityLowPercent          int64
VisibilityHighMiles         int64
VisibilityLowMiles          int64
WindMPH                     int64
PrecipitationSumInches    float64
dtype: object

In [10]:
# Chuyển kiểu dữ liệu của tất cả các cột trong dfWeather thành numeric
df = df.map(pd.to_numeric)

### 2. Tạo dataframe dfWeather2 lần lượt với các cột sau đây:
- 'TempHighC', 'TempLowC', 'HumidityHighPercent', 'HumidityLowPercent', 'VisibilityHighKMs', 'VisibilityLowKMs', 'WindKMPH', 'PrecipitationSumMM'

In [12]:
dfWeather2 = pd.DataFrame(columns=['TempHighC', 'TempLowC', 'HumidityHighPercent', 'HumidityLowPercent', 'VisibilityHighKMs', 'VisibilityLowKMs', 'WindKMPH', 'PrecipitationSumMM'])
dfWeather2

Empty DataFrame
Columns: [TempHighC, TempLowC, HumidityHighPercent, HumidityLowPercent, VisibilityHighKMs, VisibilityLowKMs, WindKMPH, PrecipitationSumMM]
Index: []

##### 2.1  Chuyển đổi cột nhiệt độ cao nhất từ độ F sang độ C và lưu vào cột TempHighC trong dfWeather2 (làm tròn 2 số lẻ), hiển thị 5 giá trị đầu của TempHighC
    - công thức chuyển từ độ F sang C: C = (F − 32) × 5/9
    - ví dụ chuyển từ 80F sang C: C = (80 - 32) x 5/9 = 26.67C

In [14]:
dfWeather2.TempHighC = round((df.TempHighF - 32) * 5/9,2)
dfWeather2.head()

,TempHighC,TempLowC,HumidityHighPercent,HumidityLowPercent,VisibilityHighKMs,VisibilityLowKMs,WindKMPH,PrecipitationSumMM
0,36.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,37.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,37.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,38.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,37.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 2.2 Chuyển đổi cột nhiệt độ thấp nhất từ độ F sang độ C và lưu vào cột TempLowC trong dfWeather2

In [16]:
dfWeather2.TempLowC = round((df.TempLowF - 32) * 5/9,2)
dfWeather2.head()

,TempHighC,TempLowC,HumidityHighPercent,HumidityLowPercent,VisibilityHighKMs,VisibilityLowKMs,WindKMPH,PrecipitationSumMM
0,36.67,26.11,NaN,NaN,NaN,NaN,NaN,NaN
1,37.78,25.56,NaN,NaN,NaN,NaN,NaN,NaN
2,37.22,24.44,NaN,NaN,NaN,NaN,NaN,NaN
3,38.33,25.56,NaN,NaN,NaN,NaN,NaN,NaN
4,37.22,25.56,NaN,NaN,NaN,NaN,NaN,NaN

##### 2.3 Tính nhiệt độ trung bình TempMediumC trong dfWeather2

In [17]:
dfWeather2['TempMediumC'] = round((dfWeather2.TempHighC + dfWeather2.TempLowC)/2,2)
dfWeather2.head()

,TempHighC,TempLowC,HumidityHighPercent,HumidityLowPercent,VisibilityHighKMs,VisibilityLowKMs,WindKMPH,PrecipitationSumMM,TempMediumC
0,36.67,26.11,NaN,NaN,NaN,NaN,NaN,NaN,31.39
1,37.78,25.56,NaN,NaN,NaN,NaN,NaN,NaN,31.67
2,37.22,24.44,NaN,NaN,NaN,NaN,NaN,NaN,30.83
3,38.33,25.56,NaN,NaN,NaN,NaN,NaN,NaN,31.94
4,37.22,25.56,NaN,NaN,NaN,NaN,NaN,NaN,31.39

##### 2.4 Tạo mới các cột độ ẩm HumidityHighPercent và HumidityLowPercent trong dfWeather2 bằng các cột HumidityHighPercent và HumidityLowPercent trong dfWeather

In [18]:
dfWeather2[['HumidityHighPercent','HumidityLowPercent']] =  df[['HumidityHighPercent','HumidityLowPercent']] 
dfWeather2.head()

,TempHighC,TempLowC,HumidityHighPercent,HumidityLowPercent,VisibilityHighKMs,VisibilityLowKMs,WindKMPH,PrecipitationSumMM,TempMediumC
0,36.67,26.11,85,38,NaN,NaN,NaN,NaN,31.39
1,37.78,25.56,91,35,NaN,NaN,NaN,NaN,31.67
2,37.22,24.44,88,35,NaN,NaN,NaN,NaN,30.83
3,38.33,25.56,85,35,NaN,NaN,NaN,NaN,31.94
4,37.22,25.56,85,31,NaN,NaN,NaN,NaN,31.39

##### 2.5 Chuyển đổi cột tầm nhìn xa từ miles sang kilomet và lưu vào cột VisibilityHighKMs trong dfWeather2
    - công thức chuyển từ Mile sang Kilomet: km = mile * 1.609344
    - ví dụ chuyển từ 10 mile sang km: km = 10 * 1.609344 = 16.09344 km

In [19]:
dfWeather2.VisibilityHighKMs = df.VisibilityHighMiles * 1.609344
dfWeather2.head()

,TempHighC,TempLowC,HumidityHighPercent,HumidityLowPercent,VisibilityHighKMs,VisibilityLowKMs,WindKMPH,PrecipitationSumMM,TempMediumC
0,36.67,26.11,85,38,16.09344,NaN,NaN,NaN,31.39
1,37.78,25.56,91,35,16.09344,NaN,NaN,NaN,31.67
2,37.22,24.44,88,35,16.09344,NaN,NaN,NaN,30.83
3,38.33,25.56,85,35,16.09344,NaN,NaN,NaN,31.94
4,37.22,25.56,85,31,16.09344,NaN,NaN,NaN,31.39

##### 2.6 Chuyển đổi cột tầm nhìn gần từ miles sang kilomet và lưu vào cột VisibilityLowKMs trong dfWeather2

In [20]:
dfWeather2.VisibilityLowKMs = df.VisibilityLowMiles * 1.609344
dfWeather2.head()

,TempHighC,TempLowC,HumidityHighPercent,HumidityLowPercent,VisibilityHighKMs,VisibilityLowKMs,WindKMPH,PrecipitationSumMM,TempMediumC
0,36.67,26.11,85,38,16.09344,9.656064,NaN,NaN,31.39
1,37.78,25.56,91,35,16.09344,12.874752,NaN,NaN,31.67
2,37.22,24.44,88,35,16.09344,16.093440,NaN,NaN,30.83
3,38.33,25.56,85,35,16.09344,16.093440,NaN,NaN,31.94
4,37.22,25.56,85,31,16.09344,16.093440,NaN,NaN,31.39

##### 2.7 Chuyển đổi cột sức gió từ miles/hour (WindMPH) sang kilomets/hour và lưu vào cột WindKMPH trong dfWeather2

In [21]:
dfWeather2.WindKMPH = df.WindMPH  * 1.609344
dfWeather2.head()

,TempHighC,TempLowC,HumidityHighPercent,HumidityLowPercent,VisibilityHighKMs,VisibilityLowKMs,WindKMPH,PrecipitationSumMM,TempMediumC
0,36.67,26.11,85,38,16.09344,9.656064,24.140160,NaN,31.39
1,37.78,25.56,91,35,16.09344,12.874752,22.530816,NaN,31.67
2,37.22,24.44,88,35,16.09344,16.093440,20.921472,NaN,30.83
3,38.33,25.56,85,35,16.09344,16.093440,20.921472,NaN,31.94
4,37.22,25.56,85,31,16.09344,16.093440,20.921472,NaN,31.39

##### 2.8 Chuyển đổi cột lượng mưa từ inches sang milimet và lưu vào cột PrecipitationSumMMs trong dfWeather2
    - công thức chuyển từ Inches sang Milimet: mm = inches * 25.4
    - ví dụ chuyển từ 10 inches sang milimet: mm = 10 * 25.4 = 254 mm

In [22]:
dfWeather2.PrecipitationSumMM = df.PrecipitationSumInches * 25.4
dfWeather2.head()

,TempHighC,TempLowC,HumidityHighPercent,HumidityLowPercent,VisibilityHighKMs,VisibilityLowKMs,WindKMPH,PrecipitationSumMM,TempMediumC
0,36.67,26.11,85,38,16.09344,9.656064,24.140160,0.254,31.39
1,37.78,25.56,91,35,16.09344,12.874752,22.530816,0.000,31.67
2,37.22,24.44,88,35,16.09344,16.093440,20.921472,0.000,30.83
3,38.33,25.56,85,35,16.09344,16.093440,20.921472,0.000,31.94
4,37.22,25.56,85,31,16.09344,16.093440,20.921472,0.000,31.39

### 3. Xem thông tin thời tiết của 5 ngày đầu tiên trong dfWeather2

In [23]:
dfWeather2.head()

,TempHighC,TempLowC,HumidityHighPercent,HumidityLowPercent,VisibilityHighKMs,VisibilityLowKMs,WindKMPH,PrecipitationSumMM,TempMediumC
0,36.67,26.11,85,38,16.09344,9.656064,24.140160,0.254,31.39
1,37.78,25.56,91,35,16.09344,12.874752,22.530816,0.000,31.67
2,37.22,24.44,88,35,16.09344,16.093440,20.921472,0.000,30.83
3,38.33,25.56,85,35,16.09344,16.093440,20.921472,0.000,31.94
4,37.22,25.56,85,31,16.09344,16.093440,20.921472,0.000,31.39

### 4. Từ dfWeather2, liệt kê thông tin thời tiết của các ngày có nhiệt độ trung bình cao nhất

In [24]:
dfWeather2[dfWeather2.TempMediumC == max(dfWeather2.TempMediumC)]

,TempHighC,TempLowC,HumidityHighPercent,HumidityLowPercent,VisibilityHighKMs,VisibilityLowKMs,WindKMPH,PrecipitationSumMM,TempMediumC
29,41.11,26.11,69,27,16.09344,16.09344,20.921472,0.0,33.61

### 5. Từ dfWeather2, liệt kê thông tin thời tiết của các ngày có nhiệt độ trung bình thấp nhất

In [25]:
dfWeather2[dfWeather2.TempMediumC == min(dfWeather2.TempMediumC)]

,TempHighC,TempLowC,HumidityHighPercent,HumidityLowPercent,VisibilityHighKMs,VisibilityLowKMs,WindKMPH,PrecipitationSumMM,TempMediumC
15,37.22,20.0,100,33,16.09344,9.656064,19.312128,0.0,28.61

### 6. Từ dfWeather2, liệt kê thông tin thời tiết của các ngày có mưa, sắp giảm theo lượng mưa

In [28]:
dfWeather2[(dfWeather2.PrecipitationSumMM > 0)].sort_values('PrecipitationSumMM',ascending=False)

,TempHighC,TempLowC,HumidityHighPercent,HumidityLowPercent,VisibilityHighKMs,VisibilityLowKMs,WindKMPH,PrecipitationSumMM,TempMediumC
14,39.44,21.67,100,29,16.09344,3.218688,37.014912,4.064,30.56
22,39.44,25.00,85,31,16.09344,3.218688,20.921472,1.016,32.22
16,36.67,25.00,88,38,16.09344,16.093440,25.749504,0.762,30.84
6,37.22,23.89,88,33,16.09344,16.093440,24.140160,0.508,30.56
0,36.67,26.11,85,38,16.09344,9.656064,24.140160,0.254,31.39
20,40.00,25.00,85,27,16.09344,16.093440,22.530816,0.254,32.50
23,38.89,24.44,91,29,16.09344,14.484096,20.921472,0.254,31.66
25,39.44,25.56,91,25,16.09344,16.093440,24.140160,0.254,32.50

### 7. Từ dfWeather2, liệt kê thông tin thời tiết của các ngày không có mưa và có độ ẩm trung bình cao nhất

In [29]:
dfWeather2['HumidityMedium'] = (dfWeather2.HumidityHighPercent + dfWeather2.HumidityLowPercent)/2
dfWeather2[(dfWeather2.PrecipitationSumMM == 0) & (dfWeather2.HumidityMedium == max(dfWeather2.HumidityMedium))]

,TempHighC,TempLowC,HumidityHighPercent,HumidityLowPercent,VisibilityHighKMs,VisibilityLowKMs,WindKMPH,PrecipitationSumMM,TempMediumC,HumidityMedium
15,37.22,20.0,100,33,16.09344,9.656064,19.312128,0.0,28.61,66.5

### 8. Tạo series temp_medium chứa hai giá trị trung bình cột TempMediumC của các ngày có mưa và các ngày không mưa trong tháng

In [33]:
mean_co_mua = dfWeather2[dfWeather2.PrecipitationSumMM > 0]['TempMediumC'].mean()
mean_ko_mua = dfWeather2[dfWeather2.PrecipitationSumMM == 0]['TempMediumC'].mean()
temp_medium = pd.Series([mean_co_mua,mean_ko_mua],index=['có mưa','ko mưa'])
temp_medium

có mưa    31.528750
ko mưa     31.664783
dtype: float64